
Debug/vc142.pdb
Debug/vc142.idb
Debug/trampoline.obj
Debug/Menu.obj
Debug/imgui_widgets.obj
Debug/imgui_tables.obj
Debug/imgui_impl_win32.obj
Debug/imgui_impl_dx9.obj
Debug/imgui_draw.obj
Debug/imgui_demo.obj
Debug/imgui.obj
Debug/Hooking.obj
Debug/hook.obj
Debug/hde64.obj
Debug/hde32.obj
Debug/Game.obj
Debug/dllmain.obj
Debug/D3D9Window.obj
Debug/Console.obj
Debug/CODWAW-SP.vcxproj.FileListAbsolute.txt
Debug/CODWAW-SP.tlog/link.write.1.tlog
Debug/CODWAW-SP.tlog/link.read.1.tlog
Debug/CODWAW-SP.tlog/link.command.1.tlog
Debug/CODWAW-SP.tlog/CODWAW-SP.lastbuildstate
Debug/CODWAW-SP.tlog/CL.write.1.tlog
Debug/CODWAW-SP.tlog/CL.read.1.tlog
Debug/CODWAW-SP.tlog/CL.command.1.tlog
Debug/CODWAW-SP.pdb
Debug/CODWAW-SP.log
Debug/CODWAW-SP.ilk
Debug/CODWAW-SP.dll.recipe
Debug/CODWAW-SP.dll
Debug/buffer.obj
.vs/CODWAW-SP/v16/ipch/AutoPCH/e043b61eee489f96/MENU.ipch
.vs/CODWAW-SP/v16/ipch/AutoPCH/5603c5da26a493fb/D3D9WINDOW.ipch
.vs/CODWAW-SP/v16/Browse.VC.db
.vs/CODWAW-SP/v16/.suo
